**Question 1:**

In [23]:
import os
import shutil
print(os.getcwd())

d:\My Learnings\udemy-ML\DS & ML - Python

In [24]:
shutil.rmtree('Text Mining and NLP', ignore_errors=True)

os.mkdir('Text Mining and NLP')
os.chdir('Text Mining and NLP')
print(os.getcwd())

d:\My Learnings\udemy-ML\DS & ML - Python\Text Mining and NLP

In [25]:
os.chdir('..')
print(os.getcwd())

d:\My Learnings\udemy-ML\DS & ML - Python

**Question 2:**

In [26]:
tf = open('Greetings.txt', 'w+')
tf.writelines('Welcome to Text Mining and Natural Language Processing')
tf.close()

In [27]:
shutil.move('Greetings.txt', 'Text Mining and NLP/Greetings.txt')

'Text Mining and NLP/Greetings.txt'

In [28]:
os.chdir('Text Mining and NLP')
os.rename('Greetings.txt', 'Welcome.txt')

In [29]:
os.listdir()

['Welcome.txt']

In [30]:
os.chdir('..')
print(os.getcwd())

d:\My Learnings\udemy-ML\DS & ML - Python

**Question 3:**

In [31]:
import docx

In [32]:

doc=docx.Document('datasets/NLP.docx')
len(doc.paragraphs)

26

In [33]:
for index, para in enumerate(doc.paragraphs):
    print(f'Number of words in Paragraph {index + 1} --> {len(para.text.split())}')

Number of words in Paragraph 1 --> 74
Number of words in Paragraph 2 --> 58
Number of words in Paragraph 3 --> 135
Number of words in Paragraph 4 --> 26
Number of words in Paragraph 5 --> 6
Number of words in Paragraph 6 --> 75
Number of words in Paragraph 7 --> 38
Number of words in Paragraph 8 --> 64
Number of words in Paragraph 9 --> 47
Number of words in Paragraph 10 --> 50
Number of words in Paragraph 11 --> 9
Number of words in Paragraph 12 --> 71
Number of words in Paragraph 13 --> 37
Number of words in Paragraph 14 --> 76
Number of words in Paragraph 15 --> 97
Number of words in Paragraph 16 --> 8
Number of words in Paragraph 17 --> 45
Number of words in Paragraph 18 --> 105
Number of words in Paragraph 19 --> 35
Number of words in Paragraph 20 --> 54
Number of words in Paragraph 21 --> 59
Number of words in Paragraph 22 --> 6
Number of words in Paragraph 23 --> 82
Number of words in Paragraph 24 --> 92
Number of words in Paragraph 25 --> 76
Number of words in Paragraph 26 --> 60

In [34]:
tf = open('Text Mining and NLP/Welcome.txt', 'r')
content = tf.read()
print(content)

Welcome to Text Mining and Natural Language Processing

In [35]:
doc.paragraphs[0].insert_paragraph_before(content)

In [36]:
len(doc.paragraphs)

27

In [37]:
doc.paragraphs[0].text

'Welcome to Text Mining and Natural Language Processing'

**Question 4:**

In [49]:
import pandas as pd
df = pd.read_csv('datasets/EmployeeDetails.csv')
df.head()

             Name   Age  Salary
0     Arjun singh    24   10000
1       Vibhor Jha   26   25000
2  Yoshita Debnath   23   15000
3   Abhitesh Setia   25   18000
4    Shaurya Nayar   26   30000

In [50]:
df['First Name'] =  df['Name '].apply(lambda name: name.split()[0])
df['Last Name'] =  df['Name '].apply(lambda name: name.split()[1])
df.drop('Name ', axis=1, inplace=True)
df['Salary'] = df['Salary'].apply(lambda salary: salary + salary*0.1)
df.head()

   Age   Salary First Name Last Name
0   24  11000.0      Arjun     singh
1   26  27500.0     Vibhor       Jha
2   23  16500.0    Yoshita   Debnath
3   25  19800.0   Abhitesh     Setia
4   26  33000.0    Shaurya     Nayar

In [51]:
df.to_csv('datasets/Employee_Data.csv')