```
1. What is the output of the following code?
nums = set([1,1,2,3,3,3,4,4])
print(len(nums))
Hint: Set consists of a unique element.
```

In [1]:
nums = set([1,1,2,3,3,3,4,4])
print(len(nums))

4

```
2. What will be the output?
d = {"john":40, "peter":45}
print(list(d.keys()))
Hint: d.keys() is the function that will show keys.
```

In [2]:
d = {"john":40, "peter":45}
print(list(d.keys()))

['john', 'peter']

```
3. A website requires a user to input a username and password to register. Write a
program to check the validity of the password given by the user. Following are the
criteria for checking password:
1. At least 1 letter between [a-z]
2. At least 1 number between [0-9]
1. At least 1 letter between [A-Z]
3. At least 1 character from [$#@]
4. Minimum length of transaction password: 6
5. Maximum length of transaction password: 12
Hint: In the case of input data being supplied to the question, it should be assumed to
be a console input.
```

In [4]:
pwd = input("Enter Password: ")

pwd_len = len(pwd)

has_num = any(ch.isdigit() for ch in pwd)
has_alpha = any(ch.isalpha() for ch in pwd)
has_lower = any(ch.isupper() for ch in pwd)
has_upper = any(ch.islower() for ch in pwd)
has_special_char = "@" in pwd or "#" in pwd or "$" in pwd

if pwd_len >= 6 and pwd_len <= 12 and has_num and has_alpha and has_lower and has_upper and has_special_char:
    print("Valid Password.")
else:
    print("Invalid Password.")

Enter Password: Aabc@123
Valid Password.

```
4. Write a for loop that prints all elements of a list and their position in the list.
a = [4,7,3,2,5,9]
Hint: Use Loop to iterate through list elements.
```

In [5]:
a = [4,7,3,2,5,9]

for index, el in enumerate(a):
    print(el, f'at index {index}')

4 at index 0
7 at index 1
3 at index 2
2 at index 3
5 at index 4
9 at index 5

```
5. Please write a program that accepts a string from the console and print the
characters that have even indexes.
Example: If the following string is given as input to the program:
H1e2l3l4o5w6o7r8l9d
Then, the output of the program should be:
Helloworld
```

In [6]:
s3 = input("Enter string: ")
res = ''

for index, ch in enumerate(s3):
    if index%2 == 0 and ch.isalpha():
        res += ch

print(res)

Enter string: H1e2l3l4o5w6o7r8l9d
Helloworld

```
6. Please write a program that accepts a string from the console and print it in reverse order.
Example: If the following string is given as input to the program:
rise to vote sir
Then, the output of the program should be:
ris etov ot esir
```

In [7]:
s4 = 'rise to vote sir'
print(s4[::-1])

ris etov ot esir

```
7. Please write a program that counts and prints the numbers of each character in a
string input by the console.
Example: If the following string is given as input to the program:
abcdefgabc
Then, the output of the program should be:
a,2
c,2
b,2
e,1
d,1
g,1
f,1
```

In [8]:
s5 = input("Enter string: ")
s5_set = set(s5)

for ch in s5_set:
    print(f'Count of {ch} - {s5.count(ch)}')

Enter string: abcdefgabc
Count of a - 2
Count of d - 1
Count of e - 1
Count of f - 1
Count of c - 2
Count of b - 2
Count of g - 1

```
8. With two given lists [1,3,6,78,35,55] and [12,24,35,24,88,120,155], write a
program to make a list whose elements are intersection of the above given lists.
```

In [11]:
a = [1,3,6,78,35,55]
b = [12,24,35,24,88,120,155]
print(list(set(a) & set(b)))

[35]

```
9. By using list comprehension, please write a program to print the list after removing the value 24 in [12,24,35,24,88,120,155]
```

In [12]:
a = [12,24,35,24,88,120,155]
b = [x for x in a if x != 24]
print(b)

[12, 35, 88, 120, 155]

```
10. By using list comprehension, please write a program to print the list after
 removing the 0th,4th and 5th numbers in [12,24,35,70,88,120,155]
```

In [13]:
a = [12,24,35,70,88,120,155]
b = [x for (i,x) in enumerate(a) if i not in (0,4,5)]
print(b)

[24, 35, 70, 155]

```
11.By using list comprehension, please write a program to print the list after removing
deleted numbers that are divisible by 5 and 7 in [12,24,35,70,88,120,155].
```

In [20]:
a = [12,24,35,70,88,120,155]
b = [x for x in a if x%7 != 0 and x%5 !=0]
print(b)

[12, 24, 88]

```
12.Write a program to compute 1/2+2/3+3/4+...+n/n+1 with a given n input by
console (n>0).
Example:
If the following n is given as input to the program:
5
Then, the output of the program should be:
3.55
```

In [22]:
n = int(input("Enter a number: "))

sum = 0

for i in range(1, n + 1):
    sum += i / (i + 1)

print("Sum of the series:", round(sum, 2))

Enter a number: 5
Sum of the series: 3.55