In [1]:
print("Welcome to Python Programming")

Welcome to Python Programming

In [2]:
print("Try again")

Try again

In [3]:
#This is a single line comment

In [ ]:
"""
This is 
a 
multiline 
comment
"""

In [ ]:
#Python Data Types
#Numerical Data: int,float
#String: str,bool
#Dynamic Typing

In [6]:
age=35
print(type(age))

<class 'int'>

In [5]:
roi=14.99
print(type(roi))

<class 'float'>

In [ ]:
#int age=35---->Static Typing

In [11]:
#Dynamic Typing
var=100
print(type(var))
var=45.36
print(type(var))
var="Amit Sharma"
print(type(var))
var=True
print(type(var))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [16]:
#Python Strings
name="Amit Sharma"
name='Sample string'
str="The 'Sun' rises in east"
print(str)
print(type(name))

The 'Sun' rises in east
<class 'str'>

In [ ]:
article="""This is 
an article
about python
"""

In [24]:
#Rules of Variables in Python
myvar=100
#10myvar=200 #invalid
myvar10=200
my_var=300
#my$var=600 #invalid
#!@#$%^&*()
my var=400 #invalid

SyntaxError: invalid syntax (211029098.py, line 8)

In [28]:
#Operators in Python
#Arithmetical Opr: +,-,/,*,//(floor division),%(remainder),**(power)
var=100
print(var/3)
print(var//3) #Floor Div
print(var%3)
#x**y
print(5**3)

33.333333333333336
33
1
125

In [34]:
#Assignment Operators: =,+=,-=
age=36
#var1=var2
age+=5 #age=age+5
print(age)
age-=10
print(age)

41
31

In [31]:
#Relational/Conditional Operators: >,<,<=,>=,==,!=(not equal)
age=36 #Assignment
print(age>30)
print(age==40) #Equality
print(age!=40) #Not Equal

True
False
True

In [37]:
#Logical Operators: and,or,not
age=45
print(age>=18 and age<=40)
print(age>=18 or age<=40)

False
True

In [ ]:
#Conditional/Flow control statements
#if, elif, else
#Loops: while, for

In [41]:
#Check num is even or odd ?
num=16
if num%2==0:  #---->False
    print("num is even")
else:
    print("num is odd")

num is even

In [43]:
#Character is vowel or consonent
char=input("Enter any character")
if char=='a' or char=='A':
    print("Character is vowel")
elif char=='e' or char=='E':
    print("Character is vowel")
elif char=='i' or char=='I':
    print("Character is vowel")
elif char=='o' or char=='O':
    print("Character is vowel")
elif char=='u' or char=='U':
    print("Character is vowel")
else:
    print("Character is consonent")

Enter any character i

Character is vowel

In [47]:
#Nested statements
#marks<80--->B
#marks>80 and marks<100--->A
#marks>90--->A+

marks=int(input("Enter your marks"))
if marks<=80:
    print("You got B Grade")
elif marks>80 and marks<=100:
    if marks>=90:
        print("You got A+ Grade")
    else:
        print("You got A Grade")
elif marks>100:
    print("Invalid Marks")
    dfgdfg

Enter your marks 452

Invalid Marks

In [52]:
#input() function
age=input("Enter your age")  #Defualt it gives string
print(age)
print(type(age))

Enter your age abc

abc
<class 'str'>

In [51]:
#Type castng/Type conversion: int(),float(),str()
age=int(input("Enter your age"))  #explicitly convert into desired datatype
print(age)
print(type(age))

Enter your age abc

ValueError: invalid literal for int() with base 10: 'abc'

In [ ]:
#eval()---->explore it your self

In [53]:
#String Formatting/String Interpolations
name="Amit"
age=45
print("Hi,{} your age is {}".format(name,age))

Hi,Amit your age is 45

In [ ]:
#Format()
#f-string
#module %d,%f,%s

In [56]:
#{}-place holder
name="Amit"
age=45
print("Hi,{} your age is {}".format(name,age))
print("Hi,{} your age is {}".format(age,name))
print("Hi,{1} your age is {0}".format(age,name))

Hi,Amit your age is 45
Hi,45 your age is Amit
Hi,Amit your age is 45

In [63]:
#f-strings
name="Amit"
age=45
gender='Male'
print(f"Hi,{name} your age is {age} your gender is {gender}")

Hi,Amit your age is 45 your gender is Male

In [62]:
#Module %f
roi=14.236597845
print("Rate of intrest %.1f"%roi%)

Rate of intrest 14.2

In [69]:
var1=45
var2=63
print("var1 %d,var2 %d",%(var1,var2))

SyntaxError: invalid syntax (3520229141.py, line 3)

In [ ]:
#Iterative Statements (Loops): while,for

In [73]:
#range(start,stop,step)
print(list(range(1,21)))
print(list(range(1,21,2)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [76]:
#Print table of given number
num=int(input("Enter any number"))
for n in range(1,11):  #[1,2,3,4,5....10]
    print(f"{num}*{n}={num*n}")
else:
    print("Loop ends")

Enter any number 16

16*1=16
16*2=32
16*3=48
16*4=64
16*5=80
16*6=96
16*7=112
16*8=128
16*9=144
16*10=160
Loop ends

In [78]:
#Print table of given number: while
num=int(input("Enter any number"))
n=1
while n<=10:
    print(f"{num}*{n}={num*n}")
    n+=1
else:
    print("Loop Ends")

Enter any number 15

15*1=15
15*2=30
15*3=45
15*4=60
15*5=75
15*6=90
15*7=105
15*8=120
15*9=135
15*10=150
Loop Ends

In [81]:
#Jump Statements: break, continue, pass
lst=[14,26,36,98,78,45,12,36,21] #....1000
num=int(input("Enter number to search in list "))
for item in lst:
    print(item)
    if item==num:
        print("Item found")
        break
else:
    print("Item not found")

Enter number to search in list  100

14
26
36
98
78
45
12
36
21
Item not found

In [83]:
lst=[14,26,36,98,78,45,12,36,78,21,36] #....1000
num=int(input("Enter number to search in list "))
for item in lst:
    print(item)
    if item==num:
        print("Item found")
else:
    print("Item not found")

Enter number to search in list  78

14
26
36
98
78
Item found
45
12
36
78
Item found
21
36
Item not found