In [ ]:
#Sequences/Collection Data types/Built-in Data structures

#List,Tuple,Set,Dict

#Ordered/Unordered(index)
#Mutable/Immutable(can change items)
#Allow Duplicates or not

#List[]:ordered(index),Mutable(changes are allowed),Allow duplicates
#Tuple():ordered(index),Immutable(changes are not allowed),duplicates
#Set{}:Unordered,Mutable,DO NOT ALLOW DUPLICATES
#Dict{key:value}:Unordered,Values are mutable but keys are immutable

In [4]:
#Python List
lst=[45,36,98,75,45,12]
lst=['zero',1,2,3.65,"Amit",[10,20,30]]
print(type(lst))
print(lst[3]) #index

<class 'list'>
3.65

In [11]:
print(lst)
lst[1]=100
print(lst) #Mutable
emp=[1001,'Amit Kumar',25000,'Mumbai',['proj1','proj2'],4.6]
print(emp)
emp[2]=35000
print(emp)
print(emp[4][0])  #Forwarded indexing

[10, 100, 10, 20, 20, 30, 30, 40, 50]
[10, 100, 10, 20, 20, 30, 30, 40, 50]
[1001, 'Amit Kumar', 25000, 'Mumbai', ['proj1', 'proj2'], 4.6]
[1001, 'Amit Kumar', 35000, 'Mumbai', ['proj1', 'proj2'], 4.6]
proj1

In [9]:
lst=[10,10,10,20,20,30,30,40,50]  #Allows duplicates
print(lst)

[10, 10, 10, 20, 20, 30, 30, 40, 50]

In [12]:
indx=0
for item in lst:
    print(f"index:{indx}, item:{item}")
    indx+=1

index:0, item:10
index:1, item:100
index:2, item:10
index:3, item:20
index:4, item:20
index:5, item:30
index:6, item:30
index:7, item:40
index:8, item:50

In [13]:
print("Total items:",len(lst))

Total items: 9

In [20]:
#Slicing [start:stop:step]
lst=[15,36,98,75,32,15,78,96,32,52]
print(lst[3:6])
print(lst[0:7:2])
print(lst[:4])  #by default start is 0 and by deault stop is end of the list
print(lst[2:])
print(lst[-3])  #Negative Indexing
print(lst[::-1])  #Reverese the list

[75, 32, 15]
[15, 98, 32, 78]
[15, 36, 98, 75]
[98, 75, 32, 15, 78, 96, 32, 52]
96
[52, 32, 96, 78, 15, 32, 75, 98, 36, 15]

In [21]:
for i in lst:
    print(i)

15
36
98
75
32
15
78
96
32
52

In [23]:
#To get functions asoociated with list(objects)
#print(dir(lst))
for i in dir(lst):
    print(i)

__add__
__class__
__class_getitem__
__contains__
__delattr__
__delitem__
__dir__
__doc__
__eq__
__format__
__ge__
__getattribute__
__getitem__
__getstate__
__gt__
__hash__
__iadd__
__imul__
__init__
__init_subclass__
__iter__
__le__
__len__
__lt__
__mul__
__ne__
__new__
__reduce__
__reduce_ex__
__repr__
__reversed__
__rmul__
__setattr__
__setitem__
__sizeof__
__str__
__subclasshook__
append
clear
copy
count
extend
index
insert
pop
remove
reverse
sort

In [24]:
print(lst.insert.__doc__) #Document String

Insert object before index.

In [28]:
#Insert and delete elements 
#Insertion: append(),insert(),extend()
lst=[12,36,98,78,45,12,36,98]
lst.append(100) #add new element(only one) at the end of list
print(lst)

lst.extend([200,300,400])
print(lst)

lst.insert(3,1000) #(index, new item)
print(lst)

[12, 36, 98, 78, 45, 12, 36, 98, 100]
[12, 36, 98, 78, 45, 12, 36, 98, 100, 200, 300, 400]
[12, 36, 98, 1000, 78, 45, 12, 36, 98, 100, 200, 300, 400]

In [31]:
#Deletion: pop(),remove()
print(lst)
lst.pop()
print(lst)
lst.pop(3)
print(lst)

[12, 36, 98, 1000, 78, 45, 12, 36, 98, 100, 200, 300]
[12, 36, 98, 1000, 78, 45, 12, 36, 98, 100, 200]
[12, 36, 98, 78, 45, 12, 36, 98, 100, 200]

In [33]:
print(lst.index(98))

2

In [35]:
print(lst)
lst.remove(98)
print(lst)

[12, 36, 98, 78, 45, 12, 36, 98, 100, 200]
[12, 36, 78, 45, 12, 36, 98, 100, 200]

In [36]:
lst=[12, 36, 98, 78, 45, 12, 36, 98, 100, 200]
for i in lst:
    if i==98:
        lst.remove(98)

print(lst)

[12, 36, 78, 45, 12, 36, 100, 200]

In [37]:
lst=[45,45,26,23,89,78,45,12,23,56]
print(lst.count(45))

3

In [40]:
lst.sort()  #By default ascending
print(lst)
print(lst[::-1])

[12, 23, 23, 26, 45, 45, 45, 56, 78, 89]
[89, 78, 56, 45, 45, 45, 26, 23, 23, 12]

In [44]:
#Python Tuple
tup=(45,63,98,52,32,78,97,45,97)
print(type(tup))
print(tup[0]) #indexing

tup[0]=100  #Immutable

<class 'tuple'>
45

TypeError: 'tuple' object does not support item assignment

In [45]:
for i in dir(tup):
    print(i)

__add__
__class__
__class_getitem__
__contains__
__delattr__
__dir__
__doc__
__eq__
__format__
__ge__
__getattribute__
__getitem__
__getnewargs__
__getstate__
__gt__
__hash__
__init__
__init_subclass__
__iter__
__le__
__len__
__lt__
__mul__
__ne__
__new__
__reduce__
__reduce_ex__
__repr__
__rmul__
__setattr__
__sizeof__
__str__
__subclasshook__
count
index

In [46]:
lst=[10,20,20,20,10,40,40,50]
lst=list(set(lst))
print(lst)

[40, 10, 20, 50]

In [49]:
#Membership operators in, not in
lst=[12, 36, 78, 45, 12, 36, 100, 200]
print(45 in lst)
print(45 not in lst)
print(1000 in lst)

True
False
False

In [53]:
lst=[12, 36, 78, 45, 12, 36, 100, 200]
ind=0
for i in lst:  
  if i == 12:
    print(ind)
  ind+=1

0
4

In [3]:
#Python Sets
st={10,10,20,30,30,30,50,60,70}
print(type(st))
print(st)
#print(st[0]) #unordered

<class 'set'>
{50, 20, 70, 10, 60, 30}

TypeError: 'set' object is not subscriptable

In [4]:
set_a=set([78,63,58,94,52,31,25,84,25,25,58])
print(set_a)

{78, 52, 84, 25, 58, 31, 94, 63}

In [8]:
set_a={0,8,6,3,2,1,4,6,4,8,0,1}
set_b={4,23,25,23,51,3}
print("Union of sets:",set_a.union(set_b))
print("Intersection:",set_a.intersection(set_b))
print("Elements in Set_a but not in set_b:",set_a-set_b)

Union of sets: {0, 1, 2, 3, 4, 6, 8, 51, 23, 25}
Intersection: {3, 4}
Elements in Set_a but not in set_b: {0, 1, 2, 6, 8}

In [11]:
#Adding element in sets
print(set_a)
set_a.add(100)
print(set_a)

set_a.update([50,6,6,100])
print(set_a)

{0, 1, 2, 3, 4, 100, 6, 8}
{0, 1, 2, 3, 4, 100, 6, 8}
{0, 1, 2, 3, 4, 6, 8, 100, 50}

In [12]:
for i in set_a:
    print(i)

0
1
2
3
4
6
8
100
50

In [13]:
for i in dir(set):
    print(i)

__and__
__class__
__class_getitem__
__contains__
__delattr__
__dir__
__doc__
__eq__
__format__
__ge__
__getattribute__
__getstate__
__gt__
__hash__
__iand__
__init__
__init_subclass__
__ior__
__isub__
__iter__
__ixor__
__le__
__len__
__lt__
__ne__
__new__
__or__
__rand__
__reduce__
__reduce_ex__
__repr__
__ror__
__rsub__
__rxor__
__setattr__
__sizeof__
__str__
__sub__
__subclasshook__
__xor__
add
clear
copy
difference
difference_update
discard
intersection
intersection_update
isdisjoint
issubset
issuperset
pop
remove
symmetric_difference
symmetric_difference_update
union
update

In [18]:
#Python Dictionaries {key:value}
emp_data={'name':'Amit','age':35,'rate':4.6,'proj':['p1','p2'],100:'abc'}
print(emp_data['proj'])
print(emp_data[100])
print(emp_data['Name']) #Error

['p1', 'p2']
abc

KeyError: 'Name'

In [21]:
emp={'name':'Amit','age':35,'band':35,'name':'Raghav'}
print(emp)
print(emp['name'])
emp['age']=45
print(emp)

{'name': 'Raghav', 'age': 35, 'band': 35}
Raghav
{'name': 'Raghav', 'age': 45, 'band': 35}

In [24]:
#Add a new keyvalue pair
print(emp)
emp['city']='Mumbai'
print(emp)
emp['name']='John'
print(emp)

{'name': 'Raghav', 'age': 45, 'band': 35, 'city': 'Mumbai'}
{'name': 'Raghav', 'age': 45, 'band': 35, 'city': 'Mumbai'}
{'name': 'John', 'age': 45, 'band': 35, 'city': 'Mumbai'}

In [25]:
#Remove key value pair
emp.pop('band')
print(emp)

{'name': 'John', 'age': 45, 'city': 'Mumbai'}

In [27]:
print(emp.keys())
print(emp.values())

#dict.fromkeys()---->do it your sel

dict_keys(['name', 'age', 'city'])
dict_values(['John', 45, 'Mumbai'])

In [ ]:
emp={'name':['a','b','c']}